.jumbotron{
    background-image:url("Xmass.jpg");  
}

ul {
	background-image:url("Ajit.jpg");
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(159, 252, 10, 0.062);
}

h2{
    color: red;
}

p{
    color: white;
}



li {
    
    float: right;
}

li a { 
    
    width:150px;
    display: block;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    
    background-color: #111;
    text-decoration-color: purple;
}