

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
	  <div class="row">
          <div class="col-md-8">
              <h2>My BackGround</h2>
              <p>I am Venkata Ajit Kumar from Hyderabad (INDIA).<br>I pursued my bachelors in CVR College of Engineering(CSE)</p>
           
          
          <h2>Plans</h2>
          <p >I am very much interested to work as an JAVA developer.
            After completion of my MS i will return to my home country and start a carrier with good prospective.</p>
          <h2>Interests</h2>
          <p>My favourite language is java.<br>I like to play cricket<br>
             I like to read magazines everyday</p>
             <h3>Click below links for my information</h3>
             <a class="navbar-brand" href="https://www.facebook.com/ajith.kumar.1829405">FaceBook</a>
             <a class="navbar-brand" href="https://www.linkedin.com/in/venkata-ajit-kumar-dokka-81a777158/">LinkedIn</a>
      </div>
      <div class="col-md-4">
        <img src="Ajit.jpg" class="img-circle" alt="Cinque Terre" width="250" height="250">
        </div> 
		  <div class="col-md-4">
<iframe width="450" height="200" src="https://www.youtube.com/embed/D-xvlqDeXY4?ecver=1" allowfullscreen></iframe>

</div>
		  <br>
		  </div>
      <hr>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
		</div>

