<li class="dropdown-submenu">
  <a href="#">2017 Fall Web Apps Section 01</a>
  <ul class="dropdown-menu">
    <li class="dropdown-submenu">
      <a href="/about/t4">Team 4</a>
      <ul class="dropdown-menu">
        <li><a href="/about/t4/a">Prashanth Kumar Thallada</a></li>
        <li><a href="/about/t4/b">Chaithanya Cherukuru</a></li>
        <li><a href="/about/t4/c">Venkata Ajit Kumar Dokka</a></li>
      </ul>
    </li>
  </ul>
</li>