<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1>Flights Planes and Pilots!</h1>
      <br/>
      <h2>Team members:</h2>
      <ul>
        <li>Prashanth kumar Thallada</li>
        <li>Chaithanya Cherukuru</li>
        <li>Venkata Ajit Kumar Dokka</li>
      </ul>
    </div>
  </div>
</div>