<li class="dropdown">
    <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Statistics
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="/statistics/flightsStatistics">Flight Duration</a>
        </li>
        <li>
            <a href="/statistics/planesStatistics">Fuel Capacity</a>
        </li>
        <li>
            <a href="/statistics/pilotsStatistics">Hours Flown</a>
        </li>
    </ul>
</li>