<br/>
<br/>
<div class="container-fluid">
    <h4>GET a views on Pilots</h4>
    <ol>
      <li>
        <a href="http://localhost:8089/pilot">http://localhost:8089/pilot</a>
      </li>
      <li>
        <a href="http://localhost:8089/pilot/create">http://localhost:8089/pilot/create</a>
      </li>

      <li>
        <a href="http://localhost:8089/pilot/edit/1">http://localhost:8089/pilot/edit/1</a>
      </li>
      <li>
        <a href="http://localhost:8089/pilot/edit/2">http://localhost:8089/pilot/edit/2</a>
      </li>
      <li>
        <a href="http://localhost:8089/pilot/edit/3">http://localhost:8089/pilot/edit/3</a>
      </li>

      <li>
        <a href="http://localhost:8089/pilot/delete/1">http://localhost:8089/pilot/delete/1</a>
      </li>
      <li>
        <a href="http://localhost:8089/pilot/delete/2">http://localhost:8089/pilot/delete/2</a>
      </li>
      <li>
        <a href="http://localhost:8089/pilot/delete/3">http://localhost:8089/pilot/delete/3</a>
      </li>

      <li>
        <a href="http://localhost:8089/pilot/details/1">http://localhost:8089/pilot/details/1</a>
      </li>
      <li>
        <a href="http://localhost:8089/pilot/details/2">http://localhost:8089/pilot/details/2</a>
      </li>
      <li>
        <a href="http://localhost:8089/pilot/details/3">http://localhost:8089/pilot/details/3</a>
      </li>

    </ol>
    <br/>
    <h4>GET JSON</h4>
    <ol>

      <li>
        <a href="http://localhost:8089/pilot/findall">http://localhost:8089/pilot/findall</a>
      </li>
      <li>
        <a href="http://localhost:8089/pilot/findone/1">http://localhost:8089/pilot/findone/1</a>
      </li>
      <li>
        <a href="http://localhost:8089/pilot/findone/2">http://localhost:8089/pilot/findone/2</a>
      </li>
      <li>
        <a href="http://localhost:8089/pilot/findone/3">http://localhost:8089/pilot/findone/3</a>
      </li>

    </ol>
    <br/>
    <hr style="height: 2px; background-color:rgba(47, 63, 70, 0.76); color:rgba(47, 63, 70, 0.76); border: 0 none;">
  <div class=row>
    <div class="col col-md-12">
      <a href="pilot/create" class="btn btn-primary new">
        Create a new pilot
      </a>
      <h2>Recent pilot entries</h2>
      <p>There are
        <%= pilots.query.length %> pilots.
          <br/>
      </p>
      <table class="table table-dark">
        <thead>
          <tr>
            <td>ID</td>
            <td>Last Name</td>
            <td>First Name</td>
            <td>Hours Flown</td>
            <td>Is Current</td>
            <td style="text-align:center">Further Details</td>
          </tr>
        </thead>
      <% for (var i = pilots.query.length-1; i >= 0; i--) {   
        pilot = pilots.query[i];   %>
        <tr>
          <td><%=  pilot._id %></td>
          <td><%=pilot.lastName%></td>
          <td><%=pilot.firstName%></td>
          <td> <%=pilot.hoursFlown%></td>
          <td><%=pilot.isCurrent%></td>
          <td>
            <a href="/pilot/delete/<%= pilot._id  %>" class="btn btn-danger"> Delete </a>
            <a href="/pilot/details/<%= pilot._id %>" class="btn btn-info"> Details </a>
            <a href="/pilot/edit/<%= pilot._id %>" class="btn btn-warning"> Edit </a>
          </td>
        </tr>          
          </div>
        </div>
        <% } %>
      </table>
    </div>
  </div>
</div>