<body  background= "https://images.pexels.com/photos/849835/pexels-photo-849835.jpeg?cs=srgb&dl=adventure-automobile-background-849835.jpg&fm=jpg">
    <div class="row">
        <div class="span4" >
            <img class="center-block img-circle" src="https://nwmissouri.instructure.com/users/19978/files/1670862/preview" width="300" height="350"/>
        </div>
       
        
    </div>
        
        <div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <img class=" img-circle" src="">
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div>            
        </div>        
    </div>         

<!-- format 1 - Use color name -->

<h1>03 CHERUKURU CHAITHANYA</h1>

<!-- format 1 - Use color name -->
<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
                <h2>Course:</h2>
<p><h3>current degree:</h3> Applied computer science
<h3>year at nw:</h3>        2018 Spring
        </div>
<!-- format 1 - Use color name -->
        <div class="col-md-5">
<h2>Background:</h2>
<p><h3>hometown: </h3>     Nellore,Andhra pradesh<br />
<h3>undergraduate:</h3>     Electronics and Communication Engineering<br />
<h3>work experience:</h3>    none
        </div>
    </div>
<!-- format 1 - Use color name -->
        <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
<h2>Hobbies:</h2>
<p><h3>Playing cricket
Badminton
Watching movies</h3>
</div>
<div class="col-md-5">
<h2>plans </h2>
<p>My area of interest is data base systems. </p>
<p>It deals with the concepts of systems architecture and its maintenance</p>
<p>I would like to work as a Data Base Administrator</p>
<p>Thanking you</p>

</div>
</div>
<div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wxQR5kokq68" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>  </div>
</div>
<div class="col-md-4"></div>
</body>>
<div>
    <a href="https://bitbucket.org/cherukuruchaithanya/" target="_blank"><img class=" img-circle" src="http://tcashcroft.com/img/bitbucket_logo.png"></a>

      <a href="https://github.com/cherukuruchaithanya" target="_blank"><img src="github.png"></a> 

        <a href="https://www.linkedin.com/in/chaithanyacherukuru/" target="_blank"><img  src="linkedin.png" ></a>
</div>
<footer>
        @cherukuru chaithany
        Email id=cherukuruchaithanya4446@gmail.com
    </footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</html>