<br/>
<br/>
<div class="container-fluid">
    <h4>GET a views on Flights</h4>
    <ol>
      <li>
        <a href="http://localhost:8089/flight">http://localhost:8089/flight</a>
      </li>
      <li>
        <a href="http://localhost:8089/flight/create">http://localhost:8089/flight/create</a>
      </li>

      <li>
        <a href="http://localhost:8089/flight/edit/1">http://localhost:8089/flight/edit/1</a>
      </li>
      <li>
        <a href="http://localhost:8089/flight/edit/2">http://localhost:8089/flight/edit/2</a>
      </li>
      <li>
        <a href="http://localhost:8089/flight/edit/3">http://localhost:8089/flight/edit/3</a>
      </li>

      <li>
        <a href="http://localhost:8089/flight/delete/1">http://localhost:8089/flight/delete/1</a>
      </li>
      <li>
        <a href="http://localhost:8089/flight/delete/2">http://localhost:8089/flight/delete/2</a>
      </li>
      <li>
        <a href="http://localhost:8089/flight/delete/3">http://localhost:8089/flight/delete/3</a>
      </li>

      <li>
        <a href="http://localhost:8089/flight/details/1">http://localhost:8089/flight/details/1</a>
      </li>
      <li>
        <a href="http://localhost:8089/flight/details/2">http://localhost:8089/flight/details/2</a>
      </li>
      <li>
        <a href="http://localhost:8089/flight/details/3">http://localhost:8089/flight/details/3</a>
      </li>

    </ol>
    <br/>
    <h4>GET JSON</h4>
    <ol>

      <li>
        <a href="http://localhost:8089/flight/findall">http://localhost:8089/flight/findall</a>
      </li>
      <li>
        <a href="http://localhost:8089/flight/findone/1">http://localhost:8089/flight/findone/1</a>
      </li>
      <li>
        <a href="http://localhost:8089/flight/findone/2">http://localhost:8089/flight/findone/2</a>
      </li>
      <li>
        <a href="http://localhost:8089/flight/findone/3">http://localhost:8089/flight/findone/3</a>
      </li>

    </ol>

    <br/>
    <br/>
    <hr style="height: 2px; background-color:rgba(47, 63, 70, 0.76); color:rgba(47, 63, 70, 0.76); border: 0 none;">
  <div class=row>
    <div class="col col-md-12">
      <a href="flight/create" class="btn btn-primary new">
        Create a new flight
      </a>
      <h2>Recent flight entries</h2>
      <p>There are
        <%= flights.query.length %> flights.
          <br/>
      </p>
      <table class="table table-dark">
        <thead>
          <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Startibg Point</td>
            <td>Ending point</td>
            <td>Duration</td>
            <td>Pilot Id</td>
            <td>Plane Id</td>
            <td style="text-align:center">Further Details</td>
          </tr>
        </thead>
      <%
      for (var i = 0; i < flights.query.length; i++) {   
        flight = flights.query[i];   %>
            <tr>
              <td scope="row"><%=  flight._id %></td>
              <td><%=flight.name%></td>
              <td><%=flight.startingPoint%></td>
              <td><%=flight.endingPoint%></td>
              <td><%=flight.durationHours%></td>
              <td><%=flight.pilotId%></td>
              <td><%=flight.planeId%></td>
              <td>
                  <a href="/flight/delete/<%= flight._id  %>" class="btn btn-danger"> Delete </a>
                  <a href="/flight/details/<%= flight._id %>" class="btn btn-info"> Details </a>
                  <a href="/flight/edit/<%= flight._id %>" class="btn btn-warning"> Edit </a>
              </td>
            </tr>
                          
          </div>
        </div>
        <% } %>
      </table>

    </div>
  </div>
</div>