    <div class="index-body">
    <div class="image container">
        <img class="center-block img-circle" src="https://photos.google.com/photo/AF1QipOyFG4M8AoDfdAEYUcA4lgWoHmkBARPBYyTQ4eP" alt="my picture"/>
    </div>
    <div class="header-container">
            <header>
                <p>Prashanth Kumar Thallada</p>
            </header>
    </div>

    <div class="body-index">
        <article id="article">
            <h3>Current</h3>
                <p>Pursuing my Masters from Northwest Missouri State University in Spring 2018 Semester</p>
            <h3>Background</h3>
                <p>
                <ul>
                    <li>completed my Bachelors in ECE from Jawaharlal Nehru University Hyderabad with aggregate of 74%</li>
                    <li>Pursued my Intermediate (10+2) from Sri Gayatri Junior College, Hyderabad with aggregate of 94.6%</li>
                    <li>taken my certificate of schooling from kakatiya concept school, Miryalaguda with aggregate of 72.16%</li></ul>
                </p>
            <h3>Hometown</h3>
                <p>I'm from Hyderabad, it located southern part of India. Hyderabad is famous for many places like
                <ul><li>Charminar</li><li>Golkonda Fort</li><li>Many Museums</li></ul></p>
            <h3>Future Plans</h3>
                <p>I just want to gain some Technical knowledge from this University and want to apply this for my future job to develop web</p>
        </article>
        <aside id="aside">
            <h3>Technical Interests</h3>
                <p>Interested in
                <ul><li>JAVA</li><li>MATLAB</li><li>HTML</li><li>CSS</li><li>JAVA Script</li></ul></p>
            <h3>Hobbies</h3>
                <p><ul><li>watching TV</li><li>Playing Cricket, Volleyball</li><li>Travelling</li></ul></p>
            <h3>Programming Languages Known</h3>
                <p><ul><li>JAVA</li><li>C,C++</li><li>MATLAB</li></ul></p>
        </aside>
    </div>
    <div class="clr"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 video">
                <iframe width="300" height="200" src="https://www.youtube.com/embed/_Jmkvv_nKTE" allowfullscreen></iframe>
            </div>
            
            <div class="col-md-6 video">
                <iframe width="300" height="200" src="https://www.youtube.com/embed/pp2S2lHjzZI" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <footer style="background-color:ghostwhite; color:black">
        <p>Contact me at:S531506@nwmissouri.edu</p>
        <p>citations: background image : "https://i.ytimg.com/vi/lfgLAJg3srY/maxresdefault.jpg"</p>
    </footer>
</div>
