<br/>
<br/>
<div class="container-fluid">
    <h4>GET a views on Planes</h4>
    <ol>
      <li>
        <a href="http://localhost:8089/plane">http://localhost:8089/plane</a>
      </li>
      <li>
        <a href="http://localhost:8089/plane/create">http://localhost:8089/plane/create</a>
      </li>

      <li>
        <a href="http://localhost:8089/plane/edit/1">http://localhost:8089/plane/edit/1</a>
      </li>
      <li>
        <a href="http://localhost:8089/plane/edit/2">http://localhost:8089/plane/edit/2</a>
      </li>
      <li>
        <a href="http://localhost:8089/plane/edit/3">http://localhost:8089/plane/edit/3</a>
      </li>

      <li>
        <a href="http://localhost:8089/plane/delete/1">http://localhost:8089/plane/delete/1</a>
      </li>
      <li>
        <a href="http://localhost:8089/plane/delete/2">http://localhost:8089/plane/delete/2</a>
      </li>
      <li>
        <a href="http://localhost:8089/plane/delete/3">http://localhost:8089/plane/delete/3</a>
      </li>

      <li>
        <a href="http://localhost:8089/plane/details/1">http://localhost:8089/plane/details/1</a>
      </li>
      <li>
        <a href="http://localhost:8089/plane/details/2">http://localhost:8089/plane/details/2</a>
      </li>
      <li>
        <a href="http://localhost:8089/plane/details/3">http://localhost:8089/plane/details/3</a>
      </li>

    </ol>
    <br/>
    <h4>GET JSON</h4>
    <ol>

      <li>
        <a href="http://localhost:8089/plane/findall">http://localhost:8089/plane/findall</a>
      </li>
      <li>
        <a href="http://localhost:8089/plane/findone/1">http://localhost:8089/plane/findone/1</a>
      </li>
      <li>
        <a href="http://localhost:8089/plane/findone/2">http://localhost:8089/plane/findone/2</a>
      </li>
      <li>
        <a href="http://localhost:8089/plane/findone/3">http://localhost:8089/plane/findone/3</a>
      </li>

    </ol>

    <br/>
    <br/>
    <hr style="height: 2px; background-color:rgba(47, 63, 70, 0.76); color:rgba(47, 63, 70, 0.76); border: 0 none;">
  <div class=row>
    <div class="col col-md-12">
      <a href="plane/create" class="btn btn-primary new">
        Create a new plane
      </a>
      <h2>Recent plane entries</h2>
      <p>There are
        <%= planes.query.length %> planes.
          <br/>
      </p>
      <table class="table table-dark">
        <thead>
          <tr>
            <td>ID</td>
            <td>Tail Number</td>
            <td>Num Seats</td>
            <td>Fuel Capacity</td>
            <td style="text-align:center">Further Details</td>
          </tr>
        </thead>
      <% for (var i = planes.query.length-1; i >= 0; i--) {   
        plane = planes.query[i];   %>
            <tr>
              <td><%=  plane._id %></td>
              <td><%=plane.tailNumber%></td>
              <td><%=plane.numSeats%></td>
              <td><%=plane.fuelCapacity%></td>
              <td>
                  <a href="/plane/delete/<%= plane._id  %>" class="btn btn-danger"> Delete </a>
                  <a href="/plane/details/<%= plane._id %>" class="btn btn-info"> Details </a>
                  <a href="/plane/edit/<%= plane._id %>" class="btn btn-warning"> Edit </a>
              </td>
            </tr>
                          
          </div>
        </div>
        <% } %>
      </table>
    </div>
  </div>
</div>