<!-- main  -->
<div class=row>
  <div class="col col-xs-12">
    <div class="form-group">
      <label for="tailNumber">TailNumber</label>
      <input type="text" class="form-control" id="tailNumber" name="tailNumber" value="<%= plane.tailNumber %>" required>
    </div>
    <div class="form-group">
      <label for="numSeats">NumSeats</label>
      <input type="text" class="form-control" id="numSeats" name="numSeats" value="<%= plane.numSeats %>">
    </div>
    <div class="form-group">
      <label for="fuelCapacity">fuelCapacity</label>
      <input type="text" class="form-control" id="fuelCapacity" name="fuelCapacity" value="<%= plane.fuelCapacity %>">
    </div>
  </div>
</div>
<hr>
<br/>
<br/>

